<ion-header>
  <ion-navbar>
    <ion-title>My Wallets</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list *ngIf="walletCollection">
    <ion-item *ngFor="let wallet of walletCollection" (click)="openWalletDetails(wallet)">
      <ion-thumbnail item-start>
        <i class="cc {{ wallet.type }}"></i>
      </ion-thumbnail>
      <h2>{{ wallet.name }}</h2>
      <p>{{ wallet.address }}</p>
      <!-- <button ion-button clear item-end>View</button> -->
    </ion-item>
  </ion-list>
</ion-content>
